{% extends "home/base.html" %}

{% block content %}

<h3 class="text-center mt-5">Delete event</h3>

<p class="text-center mt-5">Are you sure you want to delete the event: {{ event }}?</p>

<p class="text-center mt 5"><a href="{% url 'events:all' %}" class="text-decoration-none">No, take me back to my events!</a></p>

<form action="" method="POST">
  {% csrf_token %}
    <div class="text-center">
{#        Get the trash icon in the button#}
        <input type="submit" value="Yes, delete" class="btn btn-outline-danger btn-sm">
    </div>
</form>

{% endblock %}