{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <h3 class="text-center mt-5 montserrat">Enter the details for your event</h3>
{% endblock %}

{% block content %}
    <div class="container-sm">
      <form action="" method="post">
        {% csrf_token %}
          {{ form|crispy }}
        <input type="submit" class="btn btn-outline-dark mt-3" value="Submit">
        <input type="submit" class="btn btn-outline-dark mt-3" onclick="window.location='{% url 'events:all' %}' ; return false;" value="Cancel">
      </form>
    </div>
{% endblock %}

