{% extends "home/base.html" %}

{% block content %}
    <div class="w-50 mt-5 mx-auto montserrat">

        <p>Guilt-free plan postponement for introverts <i class="bi bi-heart"></i></p>

        {% if user.is_authenticated %}
            <p>You're logged in.</p>
            <p>You can <a href="{% url 'logout' %}" class="text-dark">Logout</a></p>
        {% else %}
            <p>You are not logged in.</p>
            <p>
                <a href="{% url 'login' %}?next={% url 'events:all' %}"
                   class="text-dark">
                    Login</a> to see your events.
            </p>
            <p>
                New user? <a href="{% url 'users:register' %}" class="text-dark">Create an account here.</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
