{% extends "home/base.html" %}

{% block content %}
    <p>
    Guilt-free plan postponement for introverts.
    </p>
    {% if user.is_authenticated %}
    <p>You're logged in.</p>
    <p>You can <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}?next={% url 'events:all' %}">Login</a> to see your events.</p>
    <p>New user? You can <a href="{% url 'users:register' %}">create an account here.</a></p>
    {% endif %}
{% endblock %}
