{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if form.errors %}
  <p class="text-center mt-5">Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="container-sm mt-5">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-primary mt-3" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}

