{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="w-50 mt-5 mx-auto montserrat">
{#    <div class="container-sm mt-5 montserrat">#}
        <h2 class="mb-3">Send password reset link</h2>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-outline-dark mt-3" value="Reset">
        </form>
    </div>

    <div class="w-50 mt-3 mx-auto montserrat">
        <a href="{% url 'home:home' %}" class="text-dark">Back to home</a>
    </div>

{% endblock content %}
